@import "../css/reset.css";
@import "../css/grid.css";
@import "../css/superfish.css";
@import "../css/flexslider.css";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=latin,cyrillic);
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  line-height:21px;
  color:#323232;
  min-width:990px;
  background: #f1f0ea;
  -webkit-text-size-adjust: none;
}

/*----------------------> Links And buttons <------------------*/
a {
  color:#323232;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#;
}

.btn1{
  display:inline-block;
  padding:3px 5px 5px;
  margin: 0 0 0 0;
  color:#443969;
  border: 3px solid #d2cfc6;
 }
.btn1:hover{
  border-color: #443969;
}

.btn2{
  display:inline-block;
  padding:8px 0;
  margin: 0 0 0 0;
  color:#eb7e00;
  border: 3px solid;
  font-size: 14px;
 }
.btn2:hover{
  background-color: #f8931f;
  color: #fff;
}

.btn3{
  display:inline-block;
  padding: 10px 0;
  margin: 0 0 0 0;
  color:#fff;
  border-bottom: 3px solid;
 }
.btn3:hover{
  background-color: #f8931f;
  color: #fff;
}


.orng_skin{
  color: #f8931f;
  border-color: #f8931f;
}

.orng_skin1{
  color: #fff;
  background-color: #ff9c00;
  border-color: #d66400;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.font_18{
  font-size: 18px;
  line-height: 22px;
}

.radius{
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}

/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}

/*----------------------> Basic Colors <------------------*/
.violet,
.violet_links a{
  color: #5c4db4;
}

.white_bg{
  background-color: #fff;
}

.gray{
  color: #918a75;
}


/*======================> Header <======================*/

header{
  padding: 0 0 9px;
}
.logo{
  padding: 22px 0 0 1px;
  width: 154px;
}
.logo a{
  display:block;
  width:61px;
  height:80px;
  background:url(../images/logo.png) 0 0 no-repeat;
  text-decoration:none;
  text-indent:-9999px;
}

.header_col2{
  padding-top: 62px;
  width: 485px;
}
.header_col3{
  padding-top: 24px;
}

  .header_sm_col{
    width: 152px;
    padding-right: 10px;
  }
  .header_sm_col1{
    width: 162px;
  }

.links_list{
  padding: 10px 1px 11px; 
}
  .links_item{
    margin-left: 24px;
  }
  .link{
    text-decoration: underline;
  }
  .link:hover{
    text-decoration: none;
  }

.phone_number,
.address{
  margin: 0 -5px -1px 0;
}

.info_table td{
  padding: 0 16px;
}

.social_links{

}
  .social_link{
    padding: 0 0 0 25px;
  }
  .social_link.facebook{
    background: url(../images/facebook_icon.png) 0 3px no-repeat;
  }
  .social_link.twitter{
    background: url(../images/twitter_icon.png) 0 3px no-repeat;
  }


/*=====================> Content ========================*/
#content {padding: 34px 0px 0px 0px;}
.cont_pad{padding:0 0 0 0 !important;}

.img_wrap{
  border: 3px solid #edeae5;
}

.img_box_wrapper{
  margin: 0 -10px 0 -9px;
}
  .img_box{
    width: 219px;
    margin: 0 10px;
  }
  .details_wrap{
    padding: 6px 0 0;
    margin: 0 0 0 0px;
  }
  .details{
    line-height: 22px;
  }
  .price{
    font-size: 16px;
    line-height: 20px;
    padding: 0px 0 0 25px;
    background: url(../images/price_icon.png) 0 4px no-repeat;
  }

  .news_time{
    font-size: 12px;
    font-weight: 500;
    display: block;
    margin: 4px 0 -3px;
  }

  .mid_box{
    background-color: #f1f0ea;
    background-repeat: no-repeat;
    background-position: 100% 0;
    font-size: 16px;
    line-height: 20px;
    padding: 26px 31px 29px;
  }

  .reload{
    background-image: url(../images/reload_icon.png);
  }
  .rss{
    background-image: url(../images/rss_icon.png);
  }
  .user{
    background-image: url(../images/user_icon.png);
  }
  .twitter{
    background-image: url(../images/twitter_icon2.png);
  }


.sidebar1{
  padding-top: 47px;
}

  .img1{
    border: 3px solid #fff;
  }

.rieltor_details{
  line-height: 22px;
  padding: 12px 0 0;
}
  .rieltor_name{
    margin-bottom: 16px;
  }
/*=====================> Paragraphs ========================*/

p {margin-bottom:18px}
.p2{ margin-bottom:20px;}
.p3{ margin-bottom:36px;}
.p4{ margin-bottom:16px;}
.p5{ margin-bottom:94px;}
.p6{ margin-bottom:24px;}


/*=====================> Lists ========================*/
.list1{}
.list1_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1_link{}

.list2{}
.list2_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2_link{}

.list3{}
.list3_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3_link{}

/*=====================> Titles ========================*/

.title1{
  line-height: 32px;
  text-indent: -1px;
  vertical-align: bottom;
  font-weight: normal;
  margin-bottom: 9px;
}
  .title1 span{
    font-size: 28px;
    color:#323232;
  }
  .title1 .link{
    margin: 5px 0 0px 13px;
  }

.title2{
  font-size: px;
  line-height: px;
  color:#;
}

.title3{
  margin-bottom: 1px;
  font-weight: normal;
}

.title3,
.title3 a{
  font-size: 16px;
  line-height: 22px;
  color:#5c4db3;
}


.t_ind{ margin-bottom:17px;}
.t_ind1{ margin-bottom:px;}
.t_ind2{ margin-bottom:px;}

/*================================>> GOOGLE FONTS  <<========================================*/
.medium{font-weight: 500;}
.bold{font-weight: 700;}


/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}



/*================================>> Contact Form <<========================================*/
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success
{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
#contact-form textarea, #contact-form input[type="text"]{
  margin:0;
  font-size:12px;
  border:1px solid #e7e7e7;
  color:#969696;
  padding:7px 10px;
  outline:none;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#contact-form input[type="text"]{
  width:347px;
}
#contact-form textarea {
  overflow:auto;
  width:433px;
  height:172px;
  resize:none;
  float:left;
  margin: 0 0 0 0;
}
  
#contact-form label {
  display:inline-block;
  position: relative;
  min-height:45px;
  overflow:hidden;
 }
#contact-form label.message {
  display:block;
  padding-bottom:0;
}
#contact-form .button {
  margin-left:8px;
}
#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}


/*================================>> Contacts Info <<========================================*/
#map_canvas {
   width:411px;
   height:237px;
}
.adress{}
.adress span{
  display:inline-block;
}
.adress dt{ margin-bottom:14px;}

/*
<dl class="adress">
  <dt><strong>8901 Marmora Road,<br>Glasgow, D04 89GR.</strong></dt>
  <dd><span>Freephone:</span>+1 800 559 6580</dd>
  <dd><span>Telephone:</span>+1 800 603 6035</dd>
  <dd><span>FAX:</span>+1 800 889 9898</dd>
  <dd>E-mail: <a href="#" class="demo">mail@demolink.org</a></dd>
</dl>
<div class="social">
	<a href="#" title="RSS"><img src="images/soc1.png" alt=""></a>
	<a href="#" title="Twitter"><img src="images/soc2.png" alt=""></a>
	<a href="#" title="Facebook"><img src="images/soc3.png" alt=""></a>
	<a href="#" title="Google +"><img src="images/soc4.png" alt=""></a>
</div>
*/

/*================================>> Footer <<========================================*/
footer {
  background: #f1f0ea;
  padding: 11px 0 40px 0;
}
footer h1.logo{
  padding: 7px 19px 0 0;
  width: 62px;
}
.footer_bottom-1, .footer_bottom-2{
  width: 135px;
}
.footer_bottom-3{
  width: 200px;
  margin-left: 33px;
}
.footer_bottom-2{
  margin-left: 46px;
}
[class*="footer_info-"]{
  width: 263px;
  margin:8px 0 18px 0;
}
.footer_info-2{
  margin-left: 86px;
}
.footer_info-3{
  margin-left: 38px;
}
.footer_line{
  border: none;
  width: 100%;
  background: #e5e2da;
  height: 1px;
  margin: 0 0 17px 0;
}
.footer_info-3 img, .footer_info-2 img{
  margin-top: 5px;
}
[class*="footer_info-"] img{
  margin-right: 19px;
}
.type_text2{
  font-size: 13px;
  line-height: 16px;
  color: #363636;
}
.footer_bottom_type{
  color: #b5b1ab;
  font-size: 13px;
  line-height: 16px;
  position: relative;
  margin: 33px 131px 0 0;
}
.footer_bottom_type:before{
  content: "";
  display: block;
  position: absolute;
  top:0;
  left: -65px;
  width:62px;
  height: 28px; 
  background:url(../images/logoIET.png) 0 0 no-repeat; 
}
.dark_blue{
  color: #433d58;
}
 